@model AddCopyViewModel

@{
    ViewData["Title"] = "AddCopy";
}
<h4>Book</h4>
<form asp-action="AddBookCopy">
    <input type="hidden" asp-for="BookId" />
    <div class="form-group">
        <label asp-for="NumberOfCopies" class="control-label"></label>
        <input asp-for="NumberOfCopies" class="form-control" />
        <span asp-validation-for="NumberOfCopies" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="AddCopy" class="btn btn-primary" />
    </div>
</form>