@model IEnumerable<BookViewModel>

@{
    ViewData["Title"] = "Book";
}
<div class="text-center">

<table>
    <thead>
        <tr>
            <th>
                  @* @Html.DisplayForModel(model => model.Name) *@
                Name
            </th>
            <th>
                Author
            </th>
        </tr>
        <tr>
            <td>
                Harry Potter 1
            </td>
            <td>
                J.K.Rowling
            </td>
        </tr>
    </thead>
</table>
</div>
